<%- include('partial/header') %>

<link rel="stylesheet" href="/stylesheets/reset.css">
<h2>Re-generate password</h2>
<form action="/Authenticate/resetpassword/<%= id %>" method="post">
    <input type="password" placeholder="New password" name="password"><br>
    <button>Reset</button>
    
</form>
<%- include('partial/footer') %>