<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/otpmatch.css">
</head>
<body>
    <form action="/match-otp/<%= id %>" method="post">
        <input type="text" placeholder="OTP" name="otp"><br>
        <button>Verify</button>
    </form>
</body>
</html>